<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors.templates">
      <include
            file="templates/java-templates.xml">
      </include>
      <include
            file="templates/android-templates.xml">
      </include>
      <include
            file="templates/intent-templates.xml">
      </include>
   </extension>

</plugin>
