<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="com.vogella.saneclipse.preferences.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/presentationmode.css"
            id="com.vogella.saneclipse.presentation"
            label="Presentation Mode">
      </theme>
   </extension>

</plugin>
