.MPart {
	font-size: 16px;
}

FontDefinition#org-eclipse-jdt-ui-org_eclipse_jface_textfont {
	font-family: Monospace;
	font-size: 16px;
}

FontDefinition#org-eclipse-ui-workbench-org_eclipse_jface_textfont {
	font-family: Monospace;
	font-size: 16px;
}
